<%
# NAME # CATEGORY # DUE # COMPLETE?
%>
<tr>
  <td>
    <%= link_to "#{name}", task_path(id) %>
  </td>
  <td>
    TBD
  </td>
  <td>
    TBD
  </td>
  <td>
    <% if completion %>
    Yes
    <% else %>
    No
    <% end %>
  </td>
  <td>
    <%= link_to 'Restore TBD' %>
  </td>
</tr>