<h1>Tasks</h1>
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Due
    </th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
  <%= render partial: 'task', locals: { name: task.name } %>
  <% end %>
  </tbody>
</table>

<br />
<%= link_to 'New Task', new_task_path %>