<h1>Tasks</h1>
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Due In
    </th>
    <th>
      Complete?
    </th>
    <th>
      Actions
    </th>
  </tr>
  </thead>
  <tbody>

  <% @tasks.each do |task|
  time_until = task.duedate_datestamp.to_i - Time.now.to_i
  %>
  <%= render partial: 'task', locals: { name: task.name,
                                        completion: task.completion,
                                        id: task.id,
                                        time_until: time_until } %>
  <% end %>


</tbody>

</table>

<br />
<%= render partial: 'footer_links', locals: { archive: false } %>