<section id="signup">
  <aside class="bg-dark">
    <div class="container text-center">
      <div class="call-to-action">
        <h2>Let's get this freakin' party started, shall we?</h2>
        <a href="#" class="btn btn-default btn-xl wow tada">Heck yeah!!</a>
      </div>
    </div>
  </aside>
</section>