<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Manage your tasks like we already know you probably will.</h1>
      <hr>
      <p>The thing about task management is if you're going to do somethine, why bother have it on your list?
        Amiright?</p>
      <%= link_to 'Start Managing Your Tasks, Non-Committally', '#', :class => 'btn btn-primary btn-xl
      page-scroll'  %>
    </div>
  </div>
</header>